* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #f16868;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "noto sansJP", sans-serif;
}

.header-container h1 {
  margin-right: 20px;
  margin-bottom: 10px;
  color: #000000;
}

.button-container {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
